# Environments
venv/
env/
.env

# Python byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# JS/Node
node_modules/
dist/
dist-ssr/
*.local
*.log
*.err.log
*.tsbuildinfo
*.timestamp-*.mjs
build_err.txt
ts_errors.txt
ts_errors_utf8.txt
vite_build.txt

# System Files
.DS_Store
Thumbs.db
